//Variables globales du projets

/* Couleurs */
$blue-prim : #38BDF8;
$blue-secd: #0284C7;
$blue-bkg : #0F172A;
$black-title: #0F172A;
$grey-txt: #CAD5E2;
$grey-color: #90A1B9;
$grey-scd: #62748E;
$grey-bkg: #F1F5F9;
$grey-border: #E2E8F0;
$grey-dark: #45556C;
$yellow: #FFB900;

/* Espacements */
$spacing-sm: 0.5rem;   // 8px 
$spacing-base: 1rem;   // 16px 
$spacing-lg: 1.5rem;   // 24px 
$spacing-xl: 2rem;     // 32px 
$spacing-2xl: 3rem;    // 48px
$spacing-3xl: 3.5rem;  // 56px

/* Font-sizes */
$text-sm: 0.75rem;     // 12px 
$text-base: 0.875rem;  // 14px
$text-md: 1.125rem;    // 18px

/* Font */
$font-primary: ui-sans-serif, system-ui, sans-serif;