@use "../abstracts/variables" as*;
@use "../abstracts/mixins" as*;

//Mise en page CSS de la page mes-espaces

.spaces-top>.container-narrow{
    padding : $spacing-xl  $spacing-lg 0;
}

/* ==================== 
    titre et bouton reset
==================== */

.spaces{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .spaces-title{
        h1{
        font-size: 1.875rem;
        margin-bottom: 0.25rem;
        color: $black-title;
        font-weight: 800;
        }
        p{
            font-size: $text-base;
            color: $grey-scd;
        }
    }
    /* Bouton reset */
    >button{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.625rem 0.875rem;
        border: 1px solid #FFCCD3;
        border-radius: 16px;
        background-color: white;
        color: #EC003F;
        font-size: $text-base;
        img{
            width: 14px;
            height: 14px;
        }
        &:hover {
            background-color: #ffe4e6;
        }

    }
}

/* Message lorsque quantité favoris = 0 */
.no-result{
    @include flex-center;
    flex-direction: column;
    padding: 8rem 0;
    .no-result-icon{
        @include flex-center;
        width: 64px;
        height: 64px;
        background-color: $grey-bkg;
        border-radius: 1.5rem;
        margin-bottom: 24px;
        img{
            width: 36px;
            height: 36px;
        }
    }
    h3{
        font-size: 1.25rem;
        color: $grey-dark;
        margin-bottom: $spacing-sm;
    }
    p{
        font-size: $text-base;
        color: $grey-color;
    }
}

/* ==================== 
    Emplacements des cards
==================== */

.spaces-save>.container-narrow{
    padding: 0 $spacing-lg $spacing-2xl;
}
#saved-space-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2.5rem;
}

